/*
Common class for setting width
================================================ */
/*
COMMON
================================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Meiryo";
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

#loading {
  background: rgb(238, 221, 136);
  backdrop-filter: blur(10px);
  inset: 0;
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
}