@charset "UTF-8";
/*
Common class for setting width
================================================ */
/*
COMMON
================================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Meiryo";
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* レスポンシブ・ブレークポイントpx
------------------------------- */
/*-------------------------------------------

-------------------------------------------*/