@charset "UTF-8";

//** VARIABLES ================================= **//
$mainColor: #000;  // 文字色

//** mixin ===================================== **//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*
Common class for setting width
================================================ */


/*
COMMON
================================================ */
* {
    box-sizing: border-box; 
}
html { 
    font-size: 100%; 
}
body { 
    font-family: "Meiryo"; 
    color: $mainColor; 
}
img { 
    max-width: 100%; 
    vertical-align: bottom; 
}
li { 
    list-style: none; 
}
a { 
    text-decoration: none; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

#loading {
    background: rgba(238, 221, 136, 1);
    backdrop-filter: blur(10px);
    inset: 0;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;
}

