@charset "UTF-8";

//** VARIABLES ================================= **//
$mainColor: #000;  // 文字色

//** mixin ===================================== **//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*
Common class for setting width
================================================ */


/*
COMMON
================================================ */
* {
    box-sizing: border-box; 
}
html { 
    font-size: 100%; 
}
body { 
    font-family: "Meiryo"; 
    color: $mainColor; 
}
img { 
    max-width: 100%; 
    vertical-align: bottom; 
}
li { 
    list-style: none; 
}
a { 
    text-decoration: none; 
}




/* レスポンシブ・ブレークポイントpx
------------------------------- */
/*-------------------------------------------

-------------------------------------------*/